.header {
  position: absolute;
  padding: 40px 25px;
  top: 0;
  left: 0;
  width: 100%;

  &__menu-open {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    color: $color-white;
  }

  @include mq(large) {
    display: flex;
    align-items: center;
    padding: 60px 70px;

    &__menu-open {
      display: none;
    }

    &__title {
      margin-right: 50px;
      text-align: left;
      font-size: 2rem;
    }
  }
}
