.menu {
  display: none;
  justify-content: space-between;
  position: absolute;
  padding: 30px 15px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-white;
  z-index: 10;

  &__close {
    cursor: pointer;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__list-item {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    padding: 1px;
    color: $color-black;
    font-weight: 700;
    text-decoration: none;
  }

  &--open {
    display: flex;
  }

  @include mq(xxsmall) {
    padding: 40px 25px;

    &__list-item {
      margin-left: 20px;
    }

    &__link {
      padding: 3px;
    }
  }

  @include mq(large) {
    display: flex;
    position: static;
    padding: 0;
    background-color: transparent;

    &__close {
      display: none;
    }

    &__link {
      color: $color-white;
    }

    &__list-item {
      position: relative;
      margin-left: 30px;
      transition: 0.2s;

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-dark-grey-very;
        transform: scale(0);
        transition: 0.2s;
      }

      &:hover {
        transform: scale(1.1);

        &:hover::before {
          transform: scale(1);
        }
      }
    }
  }
}
